{% extends 'base.html' %}

<html>
    
    {% block content %}
    
  <body>
<div class="container-fluid bg-light" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-dark pl-2" id="sidebar" role="navigation">
            <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3"></ul>
        </div>
        <!--memo start-->
        <div class="col main pt-5 mt-3">
                <h4 style="display:inline">MEMO</h4>
                
        <div class="col-xs-12">
            <div class="row mb-3">
            {% for x in memo%}
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card shadow text-white bg-info h-100">
                        <div class="card-body bg-info">
                            <h6 class="text-uppercase">{{x.memotitle}}</h6>
                            <h3>{{x.memotext|linebreaks}}</h3><!--개행문자 표시-->
                            {% if user.is_authenticated %}
                            <div class="float-md-right">
                                <button class="btn btn-dark disabled btn-sm" onclick="location.href='edit/{{x.id}}'">수정</button>
                                <button class="btn btn-dark disabled btn-sm" data-toggle="modal" data-target="#delete_modal" data-title={{x.id}}>삭제</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
                {% if user.is_authenticated %}
                    <div class="col-xl-3 col-sm-6 py-2">
                        <label class="card shadow h-100 w-100">
                            <button type="button" class="btn btn-outline-primary h-100 w-100" style="font-size:25px;text-align:center;" onclick="location.href='post/'" >추가하기</button>
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--memo end-->    
            
    <div class="row mb-3">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <h4 class="d-inline pl-5 my-auto">
                                Today to do
                            </h4>
                            {% if user.is_authenticated %}
                                <a class="btn btn-danger btn-md pull-right" href="{%url 'AllCheckBoxRelease'%}">X</a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                 <div class="col">
                                    <div class="text-center">
                                        <h4 >야간</h4>
                                     </div>
                                     <form action="eveningCheckBox/" method="POST">
                                        <table class="table table-bordered">
                                            {% csrf_token %}
                                            {% for ev in evening %}
                                            <tr>
                                                <td class="text-center" id={{ev.id|add:'100'}}
                                                {% if ev.find_check %}
                                                    style="text-decoration:line-through"
                                                {% endif %}
                                                    >{{ev.evening_name}}</td>
                                                <td class="text-center" ><input type="checkbox" style='zoom:2.0;' id={{forloop.counter}}
                                                name="chk[]" value={{ev.id}}
                                                {% if ev.find_check %}
                                                checked="checked"
                                                {% endif %}></td>
                                            </tr>
                                            {% endfor %}
                                            {% if user.is_authenticated %}
                                            <tr><td colspan=2><button class="btn btn-primary disabled col" width="1000px">저장</button></td></tr>
                                            {% endif %}
                                        </table>
                                    </form>
                                </div>
                                <div class="col">
                                    <div class="text-center">
                                        <h4>조간</h4>
                                    </div>
                                     <form action="dawnCheckBox/" method="POST">
                                        <table class="table table-bordered">
                                            {% csrf_token %}
                                            {% for da in dawn %}
                                            <tr>
                                                <td class="text-center" id={{da.id|add:'200'}}
                                                {% if da.find_check %}
                                                    style="text-decoration:line-through"
                                                {% endif %}
                                                    >{{da.dawn_name}}</td>
                                                
                                                <td class="text-center" ><input type="checkbox" style='zoom:2.0;' id={{forloop.counter|add:'20'}}
                                                name="chkD[]" value={{da.id}}
                                                {% if da.find_check %}
                                                checked="checked"
                                                {% endif %}></td>
                                            </tr>
                                            {% endfor %}
                                            {% if user.is_authenticated %}
                                            <tr>
                                                <td colspan=2><button class="btn btn-primary disabled col" width="1000px">저장</button></td>
                                            </tr>
                                            {% endif %}
                                        </table>
                                    </form>
                                 </div>
                            </div>
                            
                        </div>
                    </div>
                 </div>
              </div>
            <!--/row-->
<!--memo end-->
            <!--마일리지 박스 시작-->
            <div class="row my-4">
                <div class="col-lg-3 col-md-4 status-now">
                    <div class="card shadow mb-4">
                            <div class="card-header py-3 pl-4 d-flex flex-row align-items-center justify-content-between"><h4>마일리지</h4></div>
                            <div class="card-body" style="margin-left:-13">
                                   <!--row end-->
                                <ul>
                                    {% for i in mileage %}
                                    <li><h5>{{i.month}}&nbsp:&nbsp&nbsp{{i.times}} 시간</h5></li>
                                    {% endfor %}
                                    <br>
                                    <li><h5>총합&nbsp:&nbsp&nbsp{{mileagesum.times__sum}}  시간</h5></li>
                                </ul>           
                            </div>
                        </div>
                    </div>
 <!--마일리지 부분 끝-->
                <!--vacation table start-->
                <hr>
                <div class="col-lg-9 col-md-8 ml-auto">
                        <div class="card-body card shadow mb-4">
                            <h4 class="card-title">남은 휴가</h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>휴가이름</th>
                                        <th>남은 휴가일수</th>
                                        <th>휴가일수</th>
                                        <th>건의 올라간 월</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in vacation %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.vacation_name}}</td>
                                            <td>{{i.vacation_left_date}}</td>
                                            <td>{{i.vacation_date}}</td>
                                            <td>{{i.doucument_payment}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </div>
                        </div>
                </div>
                <hr>
                <div class="col-lg-9 col-md-8 ml-auto">
                    <div class="card-body card shadow mb-4">
                        <h4 class="card-title">
                            사용한 휴가
                        </h4>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>#</th>
                                        <th>휴가이름</th>
                                        <th>사용한 휴가일수</th>
                                        <th>사용일자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in used_vacation %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.vacation_name}}</td>
                                            <td>{{i.vacation_date}}</td>
                                            <td>{{i.used_date}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--row-->
<!--vacation table end-->
 
    </div>

</div>

<!-- The delete Modal -->
<div class="modal" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">삭제하기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
            정말 메모를 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="delete" onclick=DeleteMemo() value="">확인</button>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>

      
    <!--scripts loaded here-->
    <script>
        function DeleteMemo(){
            deletememo=document.getElementById("delete").value
            location.href="delete/" + deletememo
        }
    
    </script>
      <script>
        $(document).ready(function() {
        $('#delete_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var deleteUrl = button.data('title');
            var modal = $(this);
            modal.find('.modal-footer button').val(deleteUrl);
        })
        });
    </script>
      
      
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
 
    
  </body>
      {% endblock %}
</html>
