{% extends 'base.html' %}

<html>
    
    {% block content %}
    
  <body>
<div class="container-fluid bg-light" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas bg-dark pl-2" id="sidebar" role="navigation">
            <ul class="nav flex-column sticky-top pl-0 pt-5 mt-3"></ul>
        </div>
        <!--memo start-->
        <div class="col main pt-5 mt-3">
                <h4 style="display:inline">MEMO</h4>
                
        <div class="col-xs-12">
            <div class="row mb-3">
            {% for x in memo%}
                <div class="col-xl-3 col-sm-6 py-2">
                    <div class="card shadow text-white bg-info h-100">
                        <div class="card-body bg-info">
                            <h6 class="text-uppercase">{{x.memotitle}}</h6>
                            <h3>{{x.memotext|linebreaks}}</h3><!--개행문자 표시-->
                            {% if user.is_authenticated %}
                            <div class="float-md-right">
                                <button class="btn btn-dark disabled btn-sm" onclick="location.href='edit/{{x.id}}'">수정</button>
                                <button class="btn btn-dark disabled btn-sm" data-toggle="modal" data-target="#delete_modal" data-title={{x.id}}>삭제</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
                {% if user.is_authenticated %}
                    <div class="col-xl-3 col-sm-6 py-2">
                        <label class="card shadow h-100 w-100">
                            <button type="button" class="btn btn-outline-primary h-100 w-100" style="font-size:25px;text-align:center;" onclick="location.href='post/'" >추가하기</button>
                        </label>
                    </div>
                {% endif %}
            </div>
        </div>
        <!--memo end-->    
            
    <div class="row mb-3">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <h4 class="d-inline pl-5 my-auto">
                                Today to do
                            </h4>
                            {% if user.is_authenticated %}
                                <a class="btn btn-danger btn-md pull-right" href="{%url 'AllCheckBoxRelease'%}">X</a>
                            {% endif %}
                        </div>
                        <form action="CheckBox/" method="POST">
                        {% csrf_token %}
                        
                        <div class="card-body card shadow">
                            <div class="row">
                                 <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr class="table-active">
                                                    <th colspan=2 class="text-center"><h4>야간</h4></th>     
                                                </tr>
                                                {% for ch in CheckBox %}
                                                {% if ch.checktype == 0 %}
                                                <tr>
                                                    <td class="text-center" id={{ch.id|add:'100'}}
                                                    {% if ch.find_check %}
                                                        style="text-decoration:line-through"
                                                    {% endif %}
                                                        >{{ch.name}}</td>
                                                    <td class="text-center" ><input type="checkbox" style='zoom:2.0;' id={{forloop.counter}}
                                                    name="chk[]" value={{ch.id}}
                                                    {% if ch.find_check %}
                                                    checked="checked"
                                                    {% endif %}></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                            </div>
                                    </div>
                                <div class="col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr class="table-active">
                                                    <td colspan=2 class="text-center"><h4>조간</h4></td>
                                                </tr>
                                                {% for ch in CheckBox %}
                                                {% if ch.checktype == 1 %}
                                                <tr>
                                                    <td class="text-center" id={{ch.id|add:'200'}}
                                                    {% if ch.find_check %}
                                                        style="text-decoration:line-through"
                                                    {% endif %}
                                                        >{{ch.name}}</td>

                                                    <td class="text-center" ><input type="checkbox" style='zoom:2.0;' id={{forloop.counter|add:'20'}}
                                                    name="chk[]" value={{ch.id}}
                                                    {% if ch.find_check %}
                                                    checked="checked"
                                                    {% endif %}></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                         </div>
                                 </div>
                            </div>
                            <div class="row">
                                 <div class="col">
                                         <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <tr class="table-active">
                                                    <td colspan=2 class="text-center"><h4>상시</h4></td>
                                                </tr>
                                                {% for ch in CheckBox %}
                                                {% if ch.checktype == 2 %}
                                                <tr>
                                                    <td class="text-center" id={{ch.id|add:'300'}}
                                                    {% if ch.find_check %}
                                                        style="text-decoration:line-through"
                                                    {% endif %}
                                                        >{{ch.name}}</td>
                                                    <td class="text-center" ><input type="checkbox" style='zoom:2.0;'
                                                    name="chk[]" value={{ch.id}}
                                                    {% if ch.find_check %}
                                                    checked="checked"
                                                    {% endif %}></td>
                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                                            </table>
                                                {% if user.is_authenticated %}
                                                <button class="btn btn-primary disabled col" width="1000px">저장</button>
                                                {% endif %}
                                         </div>
                                </div>
                            </div>
                            
                        </div>
                        </form>
                    </div>
                </div>
              </div>
            <!--/row-->
<!--memo end-->
            <div class="row my-4">
                <!--vacation table start-->
                <hr>
                <div class="col">
                    <div class="card-header card shadow align-items-center justify-content-between">
                        <h4>남은 휴가</h4>
                    </div>
                        <div class="card-body card shadow mb-4">
                                <div class="row">
                                    <div class="col-md-4"> 
                                            <div class="card-body"> <canvas id="myChart2"></canvas> </div>
                                            <div class="text-center"> <h4>연가</h4> </div>
                                        </div>
                                        <div class="col-md-4"> 
                                            <div class="card-body"> <canvas id="myChart1"></canvas> </div>
                                            <div class="text-center"> <h4>마일리지 외박</h4> </div>
                                        </div> 
                                        <div class="col-md-4"> 
                                            <div class="card-body"> <canvas id="myChart3"></canvas> </div>
                                            <div class="text-center"> <h4>포상휴가</h4> </div>
                                        </div>
                                    <div class="col-md-12 pt-5"> 
                                         <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead class="table-active">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>휴가이름</th>
                                                        <th>남은 휴가일수</th>
                                                        <th>휴가일수</th>
                                                        <th>건의 월</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for x in vacation %}
                                                        {% if x.vacation_name != "연가" %}
                                                            <tr>
                                                                <td>{{x.id}}</td>
                                                                <td>{{x.vacation_name}}</td>
                                                                <td>{{x.vacation_left_date}}</td>
                                                                <td>{{x.vacation_date}}</td>
                                                                <td>{{x.doucument_payment}}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    
                                    </div>
                                        
                                         
                                </div>
                        </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="card-header card shadow align-items-center justify-content-between">
                        <h4>
                            사용한 휴가
                        </h4>
                    </div>
                    <div class="card-body card shadow mb-4">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead class="table-active">
                                    <tr>
                                        <th>#</th>
                                        <th>휴가이름</th>
                                        <th>사용한 휴가일수</th>
                                        <th>사용일자</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in used_vacation %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.vacation_name}}</td>
                                            <td>{{i.vacation_date}}</td>
                                            <td>{{i.used_date}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
             <div class="col-xs-12">
                    <div class="card shadow mb-4">
                            <div class="card-header card shadow align-items-center justify-content-between"><h4>마일리지</h4></div>
                            <div class="card-body card shadow mb-4">
                                   <!--row end-->
                                <div class="row">
                                    <div class="col-md-3">
                                        <table class="table table-bordered">
                                            <tr class="table-active">
                                                <th colspan=2 class="text-center">월별 마일리지</th>
                                            </tr>
                                            {% for i in mileage %}
                                            <tr>
                                                <td><h6>{{i.month}}월</h6></td>
                                                <td><h6>{{i.times}}시간</h6></td>
                                            </tr>
                                             {% endfor %}
                                            <tr>
                                                <td><h5>총합</h5></td>
                                                <td><h5><u>{{mileagesum.times__sum}}  시간</u></h5></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="container"> 
                                            <canvas id="miltimeChart"></canvas> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        
            <!--row-->
<!--vacation table end-->

<!-- The delete Modal -->
<div class="modal" id="delete_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">삭제하기</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
            정말 메모를 삭제하시겠습니까?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="delete" onclick=DeleteMemo() value="">확인</button>
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">취소</button>
      </div>
    </div>
  </div>
</div>

      
    <!--scripts loaded here-->
    <script>
        function DeleteMemo(){
            deletememo=document.getElementById("delete").value
            location.href="delete/" + deletememo
        }
    
    </script>
      <script>
        $(document).ready(function() {
        $('#delete_modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var deleteUrl = button.data('title');
            var modal = $(this);
            modal.find('.modal-footer button').val(deleteUrl);
        })
        });
    </script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <!-- 차트 스크립트-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
var milleft=0;
var mildate=0;
var typedate=0;
var milname=[] ;
var times=[] ;
{% for i in vacation %}
    {% if i.vacation_name == "연가" %}
        var left={{i.vacation_left_date}}
        var date={{i.vacation_date}}
    {% elif i.vacation_name == "마일리지 외박" %}
        milleft+={{i.vacation_left_date}}
        mildate+={{i.vacation_date}}
    {% endif %}
    {% if i.vacation_type == 1 %}
        typedate+={{i.vacation_date}}
    {% endif %}
{% endfor %}
//이게 문제네
{% for m in mileage %}
    milname.push({{m.month}})
    times.push({{m.times}})
{% endfor %}
//
    vac = { datasets: [{ backgroundColor: ['skyblue','#E0AA6E'], data: [left, date-left ]}], labels: ['남은휴가','사용한 휴가']};
    milvac={ datasets: [{ backgroundColor: ['skyblue','#E0AA6E'], data: [milleft, mildate-milleft ]}], labels: ['남은휴가','사용한 휴가'] };
    typevac={ datasets: [{ backgroundColor: ['skyblue','#E0AA6E'], data: [typedate, 17]}], labels: ['현제까지 딴 포상','만포'] };
    var vacChart = document.getElementById("myChart1");
    var vacDoughutChart = new Chart(vacChart, { type: 'doughnut', data: milvac, options: {} });
    var milChart = document.getElementById("myChart2"); 
    var milDoughnutChart = new Chart(milChart, { type: 'doughnut', data: vac, options: {} }); 
    var typeChart = document.getElementById("myChart3"); 
    var typeDoughutChart = new Chart(typeChart, { type: 'doughnut', data: typevac, options: {} });
    var ctx = document.getElementById('miltimeChart').getContext('2d');
    var chart = new Chart(ctx, { type: 'line', data: { labels: milname,
                                datasets: [{ label: '마일리지', backgroundColor: 'transparent', borderColor: 'red', data: times }] }, options: {}
    });
    </script>
    
  </body>
      {% endblock %}
</html>
