{% extends 'base.html' %}
{% block content %}
<div class="card shadow align-middle" style=" width:40rem; top:50%; left:50%; margin:-211 0 0 -319">
    <div class="card-title" style="margin-top:30px; height:10%;">
        <h3 class="text-center">MeMo</h3>
        <hr>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input class="form-control" type="text" placeholder="제목을 입력해주세요." name="memotitle">
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows=6 placeholder="내용을 입력해주세요." name="memotext"> </textarea><br>
                <button class="btn btn-primary">추가</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

